.buttons,
.header{
    background: rgb(30, 30, 30);
}

.header a {
    color: rgb(218, 218, 219);
}

.main h1 {
    color: rgb(218, 218, 219);
}

.main {
    width: inherit;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: rgb(30, 30, 30);
}

.main .center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .profile {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main .profile {
    align-items: center;
    /* min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2)); */
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 0px 0;
    margin: 0;
}

.profile img {
    display: inline-table;
    pointer-events: none;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}